<ion-view view-title="Parâmetros">
  <ion-nav-buttons side="right">
    <a menu-toggle="right" class="button button-icon icon ion-android-done" ng-click="salvarParametro()"></a>
  </ion-nav-buttons>

  <ion-content padding="true">
      <label class="item item-input">
          <span class="input-label">Valor do minuto:</span>
          <input type="text" ng-model="parametro.valorMinuto" ui-money-mask string-mask="R$">
      </label>
      <label class="item item-input">
          <span class="input-label">Tolerância (em min):</span>
          <input type="number" ng-model="parametro.tolerancia">
      </label>
      <label class="item item-input">
          <span class="input-label">Justificativa</span>
          <ion-textarea placeholder="Justificativa" class="textarea">
            <textarea placeholder="(Insira a justificaiva)" autocomplete="off" autocorrect="off"></textarea>
          </ion-textarea>
      </label>
  </ion-content>
</ion-view>
