.fundo-azul{background:#DEEAF6; display: table !important;width: 100% !important;height: 100% !important;}
.fundo-azul .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
